@charset "UTF-8";

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    letter-spacing:0.05em;
}

header {
    min-height: 80px;
    margin-bottom: 30px;
    background-color: #96b9ff;
    border-bottom: 1px solid #888;
    box-shadow: 0 0 5px #888;
}

header #logo{
    float: left;
    max-height: 50px;
    border: 1px solid #888;
    margin: 14px 20px 14px 40px;
    box-shadow: 0 0 12px #fff;
}

header div {
    float: left;
}

header h1 {
    font-size: 2.2em;
    color: #e9f0ff;
    padding: 8px 0 0;
    margin: 0 auto;
}

header p {
    font-size: 0.9em;
    color: #fff;
    margin: 0 0 4px;
}

#wrapper {
    margin: 0 auto;
    width: 1100px;
}

/* ========MENU CUSTOMIZE======== */
menu {
    width: 240px;
    float: left;
    padding: 0 0;
    margin: 0 30px 0 0;
}

menu h2 {
    height: 32px;
    font-size: 1.3em;
    padding: 8px 0 0 10px;
    padding-left: 10px;
    background-color: #eee;
    border-left: 10px solid #f99;
    margin: 0;
    margin-bottom: 1px;
}

#menu {
    background-image:url("../images/bg.gif");
    vertical-align:top;
    line-height:250%;
}

menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu li {
    height: 30px;
    padding: 4px 0px 0px 20px;
    background-color: #f7f7f7;
    margin-bottom: 1px;
}

menu li a {
    font-size: 1.3em;
    text-decoration: none;
}           

/* ========CONTENTS CUSTOMIZE======== */
main {
    float: left;
    width: 800px;

}

main h2 {
    padding: 3px 3px 3px 20px;
    border-left: 10px solid #f99;
    border-bottom: 2px dotted #f99;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0 0 20px;
}

main p {
    font-size: 1.1em;
    margin: 20px 0;
}

main strong {
    color:red;
    font-weight:normal;
    border-bottom:1px #999;
}

/* ========FOOTER CUSTOMIZE======== */
footer {
    clear: both;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #777;
    font-size:0.9em;
}

footer a {
    text-decoration: none;
    color: #f99;
}
